@model eLifeWEB.Models.DoctorInform
@using eLifeWEB.Models
@Styles.Render("~/Content/rating.css")
@{
    ViewBag.Title = "Сторінка лікаря";
}
<h4 class="mx-auto" style="display: table">@ViewBag.Title</h4>
<hr />
<section>
    <div class="container py-3">
        <div class="card rounded-lg p-1 border-0">
            <div class="row ">
                <div class="col-sm-3 ">
                    <div class="card-image">

                    </div>
                    @Html.Raw("<img style='width: 100%; border-radius: 10%' src=\"data:image/jpeg;base64,"
                                             + Convert.ToBase64String(Model.Image) + "\" />")
                </div>
                <div class="col-sm-9 pl-0">

                    <div class="rating pt-2">
                        <div class="rating__value value">5.0</div>
                        <div class="rating__stars">
                            <div class="rating__stars-bg"></div>
                            <div style="width: 70%;" class="rating__stars-overlay"></div>
                        </div>
                    </div>

                    <div class="card-block px-3 pt-2">
                        <h4 class="card-title">@Html.DisplayFor(model => Model.ApplicationUsers.FirstOrDefault().Name)</h4>
                        <h5 class="text-dark">Клініка "@Html.DisplayFor(modelItem => Model.Clinic.Name)"</h5>
                        <div class="mx-0 mb-2">
                            <i class="fa fa-calendar-o  fa-2x" aria-hidden="true"></i>
                            <strong>@Html.DisplayFor(modelItem => Model.Guardian)</strong> досвіду в
                            <span class="badge badge-pill badge-success">@Html.DisplayFor(modelItem => Model.Specialization)</span>
                        </div>
                        <p class="card-text mb-2"><i class="fa fa-drivers-license-o fa-2x" aria-hidden="true"></i> Категорія: <strong> @Html.DisplayFor(modelItem => Model.Category)</strong></p>
                        <p class="card-text mb-2"><i class="fa fa-graduation-cap  fa-2x" aria-hidden="true"></i> Освіта: <strong> @Html.DisplayFor(modelItem => Model.Education)</strong></p>
                        <p class="card-text mb-2"><i class="fa fa-file-text-o fa-2x" aria-hidden="true"></i> Уміння: </p>
                        <p class="card-text" style="margin-top: -5px;">
                            @Html.DisplayFor(modelItem => Model.Skills)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#typeofservices">Всі послуги</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#feedback">Всі відгуки</a>
    </li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade" id="typeofservices">
        <div class="col-7 card rounded-lg my-3 mx-auto">
            <div class="card-body m-2 p-0">
                <div class="row">
                    <div class="col">
                        <p>
                            <h3 class="float-left">Огляд:</h3>
                            <div class="clearfix"></div>
                            <h4>100 гривень</h4>
                            <a href="#" class="float-right btn btn-primary ml-2"> Записатись </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-7 card rounded-lg my-3 mx-auto">
            <div class="card-body m-2 p-0">
                <div class="row">
                    <div class="col">
                        <p>
                            <h3 class="float-left">Огляд:</h3>
                            <div class="clearfix"></div>
                            <h4>100 гривень</h4>
                            <a href="#" class="float-right btn btn-primary ml-2"> Записатись </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-7 card rounded-lg my-3 mx-auto">
            <div class="card-body m-2 p-0">
                <div class="row">
                    <div class="col">
                        <p>
                            <h3 class="float-left">Огляд:</h3>
                            <div class="clearfix"></div>
                            <h4>100 гривень</h4>
                            <a href="#" class="float-right btn btn-primary ml-2"> Записатись </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-7 card rounded-lg my-3 mx-auto">
            <div class="card-body m-2 p-0">
                <div class="row">
                    <div class="col">
                        <p>
                            <h3 class="float-left">Огляд:</h3>
                            <div class="clearfix"></div>
                            <h4>100 гривень</h4>
                            <a href="#" class="float-right btn btn-primary ml-2"> Записатись </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade active show" id="feedback">
        <div class="card rounded-lg m-3">
            <div class="card-body m-2 p-0">
                <div class="row">
                    <div class="col">
                        <p>
                        <p class="float-left"><strong class="mr-1">Maniruzzaman Akash </strong> 15 Minutes Ago:</p>
                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                        </p>
                        <div class="clearfix"></div>
                        <p>Lorem Ipsum is simply dummy text of the pr make  but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card rounded-lg m-3">
            <div class="card-body m-2 p-0">
                <div class="row">
                    <div class="col">
                        <p>
                        <p class="float-left"><strong class="mr-1">Maniruzzaman Akash </strong> 15 Minutes Ago:</p>
                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                        </p>
                        <div class="clearfix"></div>
                        <p>Lorem Ipsum is simply dummy text of the pr make  but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card rounded-lg m-3">
            <div class="card-body m-2 p-0">
                <div class="row">
                    <div class="col">
                        <p>
                        <p class="float-left"><strong class="mr-1">Maniruzzaman Akash </strong> 15 Minutes Ago:</p>
                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                        </p>
                        <div class="clearfix"></div>
                        <p>Lorem Ipsum is simply dummy text of the pr make  but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.ApplicationUsers.FirstOrDefault().Feedbacks.Count != 0)
{
    <h3>
        @Html.DisplayName("Рейтинг")
    </h3>
    <br />
    <dd>
        @Model.ApplicationUsers.FirstOrDefault().Feedbacks.Average(s => s.Stars)
        @Model.ApplicationUsers.FirstOrDefault().TypeOfServices
    </dd>
}
<div>
    <h3>Усі відгуки</h3>
    <table class="table">
        @foreach (Feedback feedback in Model.ApplicationUsers.FirstOrDefault().Feedbacks)
        {
            <tr>
                <td>
                    @feedback.Patient.Name
                </td>
                <td>
                    @feedback.Date
                </td>
                <td>
                    @feedback.Comment
                </td>
                <td>
                    @feedback.Stars
                </td>
            </tr>
        }
    </table>
</div>
<h3>
    @Html.DisplayName("Всі послуги")
</h3>
<div>
    <h3>Усі відгуки</h3>
    <table class="table">
        @foreach (TypeOfService typeOfService in Model.ApplicationUsers.FirstOrDefault().TypeOfServices)
        {
            <tr>
                <td>
                    @typeOfService.Type.Type1
                </td>
                <td>
                    @typeOfService.Price
                </td>
            </tr>
        }
    </table>
</div>

<div style="height:700px;width:900px;margin:0 auto">
    @Html.Raw(ViewBag.Scheduler.Render())
</div>

<p>
    @Html.ActionLink("Назад", "Index")
</p>
<script>
    function appointment(event_id){
        //var event = scheduler.getEvent(event_id);
        var value = scheduler.formSection('service').getValue();
        var url = "@Url.Action("AcceptAppointment", "DoctorInforms")" + "?id=" + event_id + "&serviceId=" + value;
        window.location.href = url;
    }
</script>