@model eLifeWEB.Models.DoctorInform
@using Microsoft.AspNet.Identity
@using eLifeWEB.Models

@{
    ViewBag.Title = "Лікарь";
}

<head>
    <script src="https://kit.fontawesome.com/9f08bb35f2.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
</head>

<div>
    <h4>Лікарь</h4>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.Raw("<img style='width:80px; height:60px;' src=\"data:image/jpeg;base64,"
                   + Convert.ToBase64String(Model.Image) + "\" />")
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUsers.FirstOrDefault().Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUsers.FirstOrDefault().Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Clinic.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clinic.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Specialization)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specialization)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Guardian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guardian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Education)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Education)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Skills)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Skills)
        </dd>

    </dl>
</div>
@if (Model.ApplicationUsers.FirstOrDefault().Feedbacks.Count != 0)
{
    <h3>
        @Html.DisplayName("Рейтинг")
    </h3>
    <br />
    <dd>
        @Model.ApplicationUsers.FirstOrDefault().Feedbacks.Average(s => s.Stars)
        @Model.ApplicationUsers.FirstOrDefault().TypeOfServices
    </dd>
}
    <div>
        <h3>Усі відгуки</h3>
        @using (Html.BeginForm("DoctorFeedback", "DoctorInforms", FormMethod.Post))
        {
            <div class="form-group">
                <input type="hidden" name="DoctorID" value="@Model.ApplicationUsers.FirstOrDefault().Id" />
                <input type="hidden" name="UserId" value="@User.Identity.GetUserId()" />
                <span class="text-warning float-right">
                    <i class="ratingStar far fa-star" data-value="1"></i>
                    <i class="ratingStar far fa-star" data-value="2"></i>
                    <i class="ratingStar far fa-star" data-value="3"></i>
                    <i class="ratingStar far fa-star" data-value="4"></i>
                    <i class="ratingStar far fa-star" data-value="5"></i>
                </span>

                <input type="hidden" name="Rating" id="ratingValue" />

                <textarea placeholder="Напишіть свій відгук" name="Text"></textarea>
            </div>

            <button type="submit">Відправити</button>
        }
        <table class="table">
            @foreach (Feedback feedback in Model.ApplicationUsers.FirstOrDefault().Feedbacks)
            {
                <tr>
                    <td>
                        @feedback.Patient.Name
                    </td>
                    <td>
                        @feedback.Date
                    </td>
                    <td>
                        @feedback.Comment
                    </td>
                    <td>
                        @feedback.Stars
                    </td>
                </tr>
            }
        </table>
    </div>
<div>
    @Html.DisplayName("Всі послуги")
    <table class="table">
        @foreach (TypeOfService typeOfService in Model.ApplicationUsers.FirstOrDefault().TypeOfServices)
        {
            <tr>
                <td>
                    @typeOfService.Name
                </td>
                <td>
                    @typeOfService.Price
                </td>
            </tr>
        }
    </table>
</div>

<div style="height:700px;width:900px;margin:0 auto">
    @Html.Raw(ViewBag.Scheduler.Render())
</div>

<p>
    @Html.ActionLink("Назад", "Index")
</p>
<script>
    $(".ratingStar").hover(function () {
        $(".ratingStar").addClass("far").removeClass("fas")

        $(this).addClass("fas").removeClass("far");
        $(this).prevAll(".ratingStar").addClass("fas").removeClass("far");
    });

    $(".ratingStar").click(function () {
        var starValue = $(this).attr("data-value");

        $("#ratingValue").val(starValue);
    });

    function appointment(event_id){
        //var event = scheduler.getEvent(event_id);
        var value = scheduler.formSection('service').getValue();
        //var url = "@Url.Action("AppointmentResultTest", "DoctorInforms")" + "?id=" + event_id + "&serviceId=" + value;
        var url = "@Url.Action("AcceptAppointment", "DoctorInforms")" + "?id=" + event_id + "&serviceId=" + value;
        window.location.href = url;
    }
</script>