@model IEnumerable<eLifeWEB.Models.DoctorInform>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("searchString") &nbsp;
        <input type="submit" value="Знайти" />
        @Html.DropDownList("specializations", ViewBag.Specialization as SelectList);
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users.FirstOrDefault().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clinic.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Specialization)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category_)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Guardian)
        </th>
        <th>
            @Html.DisplayName("Рейтинг")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.Photo != null)
                {
                @Html.Raw("<img style='width:80px; height:60px;' src=\"data:image/jpeg;base64,"
                                 + Convert.ToBase64String(item.Photo) + "\" />")
                }
            </td>
            <td>
                @Html.DisplayFor(model => item.Users.FirstOrDefault().Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clinic.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category_)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Guardian)
            </td>
            <td>
                @if (item.Users.Count() != 0)
                {
                if (item.Users.FirstOrDefault().Feedbacks.Count != 0)
                {
                    @item.Users.FirstOrDefault().Feedbacks.Average(s => s.Stars)
                }
                }
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { Id = item.Id }) |
            </td>
        </tr>
    }

</table>
