@*@model IEnumerable<eLifeWEB.Models.DoctorInform>*@
@model PagedList.IPagedList<eLifeWEB.Models.DoctorInform>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@using (Html.BeginForm())
{
<p>
    @Html.TextBox("searchString") &nbsp;
    <input type="submit" value="Знайти" />
    @Html.DropDownList("specializations", ViewBag.Specialization as SelectList)
</p>
}

<table class="table">
    <tr>       
        <th>
            @Html.DisplayName("Лікар")
        </th>
        <th>
            @Html.DisplayName("Ім'я")
        </th>
        <th>
            @Html.DisplayName("Клініка")
        </th>
        <th>
            @Html.DisplayName("Спеціалізація")
        </th>
        <th>
            @Html.DisplayName("Категорія")
        </th>
        <th>
            @Html.DisplayName("Досвід")
        </th>
        <th>
            @Html.DisplayName("Рейтинг")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.Image != null)
                {
                    @Html.Raw("<img style='height:100px;' src=\"data:image/jpeg;base64,"
                                     + Convert.ToBase64String(item.Image) + "\" />")
                }
            </td>
            <td>
                @Html.DisplayFor(model => item.ApplicationUsers.FirstOrDefault().Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clinic.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Guardian)
            </td>
            <td>
                @if (item.ApplicationUsers.Count() != 0)
                {
                    if (item.ApplicationUsers.FirstOrDefault().Feedbacks.Count != 0)
                    {
                        @item.ApplicationUsers.FirstOrDefault().Feedbacks.Average(s => s.Stars)
                    }
                }
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id })
                @if (Request.IsAuthenticated)
                {
                    @Html.ActionLink("Написати", "Chat", "Chats", new { interlocutorId = item.Id }, null)
                }
            </td>
        </tr>
    }

</table>
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))