@model eLifeWEB.Models.LiqPayP2PFormModel
@{
    ViewBag.Title = "Підтвердження оплати";
}


<dl class="dl-horizontal">
    <dt>
       Пацієнт
    </dt>

    <dd>
        @ViewBag.Patient.Name
    </dd>

    <dt>
        Лікарь
    </dt>

    <dd>
        ViewBag.Record.AttendingDoctor.Name
    </dd>

    <dt>
        Вид прийом
    </dt>

    <dd>
        @ViewBag.Record.TypeOfService.Name
    </dd>

    <dt>
        Ціна
    </dt>

    <dd>
        @ViewBag.Record.TypeOfService.Price
    </dd>

    <dt>
       Дата прийому
    </dt>

    <dd>
        @ViewBag.Record.Date
    </dd>

    <dt>
       Передоплата
    </dt>

    <dd>
        @Html.Raw(ViewBag.Record.TypeOfService.Price / 2)
    </dd>

</dl>

<h3 class="d-table mx-auto">Для оплати натисніть кнопку "Оплатити"</h3>
<hr />
<div class="d-table mx-auto" width="255">
    <form method="POST" accept-charset="utf-8" action="https://www.liqpay.ua/api/3/checkout" ">
        <input type="hidden" name="data" value="@Model.Data" />
        <input type="hidden" name="signature" value="@Model.Signature" />
        <button style="border: none !important; display:inline-block !important;text-align: center !important;padding: 7px 20px !important;

                                    color: #fff !important; font-size:16px !important; font-weight: 600 !important; font-family:OpenSans, sans-serif; cursor: pointer !important; border-radius: 2px !important;
                                    background: rgb(122,183,43) !important;" onmouseover="this.style.opacity='0.5';" onmouseout="this.style.opacity='1';">
            <img src="https://static.liqpay.ua/buttons/logo-small.png" name="btn_text"
                 style="margin-right: 7px !important; vertical-align: middle !important;" />
            <span style="vertical-align:middle !important">Оплатити через LiqPay</span>
        </button>
    </form>
</div>