<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title eLife</title>
    <link href="/Content/footer.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="padding: 0; background: #e9ecef">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-info">
            <img src="/Content/Resourses/elife_logo.png" alt="" style="width: 40px; height: 40px;">
            @Html.ActionLink("eLife", "Index", "Home", null, new { @class = "navbar-brand" })
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        @Html.ActionLink("Головна", "Index", "Home", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Клініки", "Index", "Clinics", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Лікарі", "Index", "DoctorInforms", null, new { @class = "nav-link" })
                    </li>
                </ul>
                <div class="navbar-brand mr-10">+38 (095) 2626 288</div>
                @Html.Partial("_LoginPartial")
            </div>
        </nav>
    </header>
    <div class="container body-content" style="padding-bottom: 310px; min-height: calc(100% - 56px)">
        <div class="col pt-4" style="background: #ffffff">
            @RenderBody()
        </div>
    </div>

    <footer class="footer" style="margin-top: -310px">
        <div class="row m-0 pt-4" style="min-height: 250px; width: 100%">
            <div class="col-1"></div>
            <div class="col-4 footer_about p-0">
                <div class="footer_rect" align="left">
                    <img src="/Content/Resourses/elife_logo.png" alt="">
                    <h2 style="width: 13vw; text-align: center; max-width: 180px;">eLife™</h2>
                </div>
                <div class="footer_about_text">
                    Головна мета сервісу eLife - зробити медицину більш доступною та простою для кожної людини.<br> Будьте здорові!
                </div>
            </div>
            <div class="col-3 px-2">
                <div class="row footer-title">
                    <span class="footer_label">
                        Навігація
                    </span>
                </div>
                @Html.ActionLink("Лікарі", "Index", "DoctorInforms", null, new { @class = "row footer_nav_link py-2" })
                @Html.ActionLink("Клініки", "Index", "Clinics", null, new { @class = "row footer_nav_link py-2" })
            </div>
            <div class="col-3 px-2">
                <div class="row footer-title">
                    <span class="footer_label">
                        Корисні посилання
                    </span>
                </div>
                <a href="#" class="row m-0 footer_label p-2">
                    <img src="/Content/Resourses/telegram_logo.png" class="footer_logo mr-2" alt="">
                    eLifeOffical_Bot
                </a>
                <a class="row m-0 footer_label p-2">
                    <img src="/Content/Resourses/e-mail_logo.png" class="footer_logo_mail mr-2" alt="">
                    support@eLife.ua
                </a>
                <a class="row m-0 footer_label p-2">
                    <img src="/Content/Resourses/phone_logo.png" class="footer_logo mr-2" alt="">
                    +38 (095) 2626 288
                </a>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row border-top border-dark mt-3 mx-auto" style="width: 85%">
            <p class="text-center col-sm my-2">
                2019 TM "eLife". Всі права захищені.
            </p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
