<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title eLife</title>
    <link href="/Content/footer.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="padding-bottom: 0">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Имя приложения", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Головна", "Index", "Home")</li>
                    <li>@Html.ActionLink("Клініки", "Index", "Clinics")</li>
                    <li>@Html.ActionLink("Лікарі", "Index", "DoctorInforms")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <div class="row border-top border-dark mx-auto" style="width: 65%">
            <p class="text-center col-sm my-2">
                2019 TM "eLife". Всі права захищені.
            </p>
        </div>
        
    </div>

    <footer class="footer">
        <div class="footer_top">
            <div class="col-md-4 col-md-offset-1 footer_about">
                <div class="footer_rect" align="left">
                    <img src="/Content/Resourses/elife_logo.png" alt="">
                    <h2 style="width: 13vw; text-align: center; max-width: 180px;">eLife™</h2>
                </div>
                <div class="footer_about_text">
                    Головна мета сервісу eLife - зробити медицину більш доступною та простою для кожної людини.<br> Будьте здорові!
                </div>
            </div>
            <div class="col-md-3">
                <div class="row footer-title">
                    <span class="footer_label">
                        Навігація
                    </span>
                </div>
                @Html.ActionLink("Лікарі", "Index", "DoctorInforms", new { area = "" }, new { @class = "row footer_nav_link" })
                @Html.ActionLink("Клінінки", "Index", "Clinics", new { area = "" }, new { @class = "row footer_nav_link" })
            </div>
            <div class="col-md-3">
                <div class="row footer-title">
                    <span class="footer_label">
                        Корисні посилання
                    </span>
                </div>
                <p class="row footer_label" style="margin: 0; padding: 1rem">
                    <img src="/Content/Resourses/telegram_logo.png" class="footer_logo mr-2" alt="">
                    eLifeOffical_Bot
                </p>
                <p class="row footer_label" style="margin: 0; padding: 1rem">
                    <img src="/Content/Resourses/e-mail_logo.png" class="footer_logo_mail mr-2" alt="">
                    support@eLife.ua
                </p>
                <p class="row footer_label" style="margin: 0; padding: 1rem">
                    <img src="/Content/Resourses/phone_logo.png" class="footer_logo mr-2" alt="">
                    +38 (095) 2626 288
                </p>
            </div>
        </div>
        <div class="footer_desc" style="width: 85%">
            <p class="text-center col-sm">
                2019 TM "eLife". Всі права захищені.
            </p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
