@model eLifeWEB.Models.SetPasswordViewModel
@Styles.Render("~/Content/RegisterClinicAdmin.css")
@{
    ViewBag.Title = "Створити пароль";
}

<h2 class="d-table mx-auto">@ViewBag.Title.</h2>
<p class="text-info d-table mx-auto text-center">
    У вас немає локального імені користувача і пароля для цього сайту. Додайте локальну
    обліковий запис, щоб входити без використання зовнішніх пристроїв.
</p>

@using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h4 class="text-center">Створити локальне ім'я входу</h4>
            <hr />
        </div>
        <div class=" col-md-3">
            @Html.ValidationSummary("", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 field-label-responsive">
            <label>Ваш новий пароль:</label>
        </div>
        <div class="col-md-6 pl-0">
            <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon" style="width: 2.2rem"><i class="fa fa-lock fa-2x"></i></div>
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control input_fix" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-control-feedback">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 field-label-responsive">
            <label>Повторіть пароль:</label>
        </div>
        <div class="col-md-6 pl-0">
            <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon" style="width: 2.2rem"><i class="fa fa-lock fa-2x"></i></div>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input_fix" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-control-feedback">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <input type="submit" value="Створити пароль" class="btn btn-primary btn-block" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}