@model eLifeWEB.Models.ApplicationUser
@Styles.Render("~/Content/RegisterClinicAdmin.css")

<div>

    <div class="row">
        <div class="col-md-3 field-label-responsive">
            <label>Ваше повне ім'я:</label>
        </div>
        <div class="col-md-6 pl-0">
            <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon" style="width: 2.2rem"><i class="fa fa-user-md fa-2x"></i></div>
                    <input class="form-control input_fix text-box single-line" type="text" value="@Html.DisplayFor(model => model.Name)" readonly="">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-control-feedback">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 field-label-responsive">
            <label>Ваша стать:</label>
        </div>
        <div class="col-md-6 pl-0">
            <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon" style="width: 2.2rem"><i class="fa fa-venus-mars fa-2x"></i></div>
                    <input class="form-control input_fix text-box single-line" type="text" value="@Html.DisplayFor(model => model.Gender)" readonly="">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-control-feedback">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 field-label-responsive">
            <label>День народження:</label>
        </div>
        <div class="col-md-6 pl-0">
            <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon" style="width: 2.2rem"><i class="fa fa-calendar fa-2x"></i></div>
                    <input class="form-control input_fix text-box single-line" type="text" value="@Model.Bithday.Value.ToShortDateString()" readonly="">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-control-feedback">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 field-label-responsive">
            <label>Ваша пошта:</label>
        </div>
        <div class="col-md-6 pl-0">
            <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon" style="width: 2.2rem"><i class="fa fa-envelope-o fa-2x"></i></div>
                    <input class="form-control input_fix text-box single-line" type="text" value="@Html.DisplayFor(model => model.Email)" readonly="">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-control-feedback">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 field-label-responsive">
            <label>Ваш телефонний номер:</label>
        </div>
        <div class="col-md-6 pl-0">
            <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon" style="width: 2.2rem"><i class="fa fa-phone fa-2x"></i></div>
                    <input class="form-control input_fix text-box single-line" type="text" value="@Html.DisplayFor(model => model.PhoneNumber)" readonly="">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-control-feedback">
            </div>
        </div>
    </div>
</div>

