@model eLifeWEB.Models.Clinic

<div>
    <h4>Моя клініка</h4>
    <hr />
    @if (Model.Image != null)
    {
    @Html.Raw("<img style='height:200px;' src=\"data:image/jpeg;base64,"
                                       + Convert.ToBase64String(Model.Image) + "\" />")
    }
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankCard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankCard)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редагувати", "EditClinic", Model) 
</p>
