@model eLifeWEB.Models.Clinic

<div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h4 class="text-center">Моя клініка</h4>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 field-label-responsive">
            <label>Назва клініки:</label>
        </div>
        <div class="col-md-6 pl-0">
            <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon" style="width: 2.2rem"><i class="fa fa-hospital-o fa-2x"></i></div>
                    <input class="form-control input_fix text-box single-line" type="text" value="@Html.DisplayFor(model => model.Name)" readonly="">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-control-feedback">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 field-label-responsive">
            <label>Адреса клініки:</label>
        </div>
        <div class="col-md-6 pl-0">
            <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon" style="width: 2.2rem"><i class="fa fa-map-marker fa-2x"></i></div>
                    <input class="form-control input_fix text-box single-line" type="text" value="@Html.DisplayFor(model => model.Adress)" readonly="">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-control-feedback">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 field-label-responsive">
            <label>Опис клініки:</label>
        </div>
        <div class="col-md-6 pl-0">
            <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon" style="width: 2.2rem"><i class="fa fa-font fa-2x"></i></div>
                    <input class="form-control input_fix text-box single-line" type="text" value="@Html.DisplayFor(model => model.Description)" readonly="">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-control-feedback">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 field-label-responsive">
            <label>Номер банківської картки:</label>
        </div>
        <div class="col-md-6 pl-0">
            <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon" style="width: 2.2rem"><i class="fa fa-credit-card fa-2x"></i></div>
                    <input class="form-control input_fix text-box single-line" type="text" value="@Html.DisplayFor(model => model.BankCard)" readonly="">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-control-feedback">
            </div>
        </div>
    </div>
    @if (Model.Image != null)
    {
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label>Логотип Вашої клініки:</label>
            </div>
            <div class="col-md-6">
                @Html.Raw("<img style='height:170px;' src=\"data:image/jpeg;base64,"
                            + Convert.ToBase64String(Model.Image) + "\" />")
            </div>
            <div class="col-md-3">
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            @Html.ActionLink("Редагувати", "EditClinic", Model, new { @class = "btn btn-primary btn-block" })
        </div>
    </div>
</div>






<!--Врачи клиниики-->
@using (Html.BeginForm())
{
    foreach (var item in ViewBag.Doctors)
    {
        <section>
            <div class="container py-3">
                <div class="card rounded-lg p-1 shadw">
                    <div class="row ">
                        <div class="col-sm-3 ">
                            <div class="card-image">

                            </div>
                            @Html.Raw("<img style='width: 100%; border-radius: 10%' src=\"data:image/jpeg;base64,"
                                      + Convert.ToBase64String(item.Image) + "\" />")
                        </div>
                        <div class="col-sm-9 pl-0">

                            <div class="rating pt-2">
                                <div class="rating__value value">5.0</div>
                                <div class="rating__stars">
                                    <div class="rating__stars-bg"></div>
                                    <div style="width: 70%;" class="rating__stars-overlay"></div>
                                </div>
                            </div>

                            <div class="card-block px-3 pt-2">
                                <h4 class="card-title">@item.ApplicationUsers.FirstOrDefault().Name</h4>
                                <h5 class="text-dark">Клініка "@item.Clinic.Name"</h5>
                                <div class="mx-0 mb-1">
                                    <i class="fa fa-calendar-o  fa-2x" aria-hidden="true"></i>
                                    <strong>@item.Guardian</strong> досвіду в
                                    <span class="badge badge-pill badge-success">@item.Specialization</span>
                                </div>
                                <p class="card-text"><i class="fa fa-drivers-license-o  fa-2x" aria-hidden="true"></i> Категорія: <strong> @item.Category</strong></p>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel dignissim nulla, eget mollis erat. Donec sodales sem in metus imperdiet, luctus faucibus tellus vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pellentesque nunc faucibus, venenatis est sed, faucibus ligula. Etiam libero dolor, feugiat ac ante ut, fringilla bibendum velit. Etiam eget odio suscipit, varius nulla vel, condimentum urna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut imperdiet nisl nec pretium ultrices. Vestibulum ligula felis, sagittis vitae leo in, facilisis blandit diam. Aliquam neque metus, fermentum in cursus ut, tempor in dolor. Pellentesque luctus iaculis aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </p>
                                <input type="checkbox" name="doctorPracticed" value="@item.Id" @(@item.Practiced ? "checked=\"checked\"" : "") />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }

    <button type="submit">Зберегти</button>
}


