@model eLifeWEB.Models.ApplicationUser
@{
    ViewBag.Title = "Моя сторінка";
}

<h3 class="d-table mx-auto">Моя сторінка</h3>
@Html.Partial("_AccountInfo", Model)

@if (ViewBag.Role == "patient")
{
    @Html.Partial("_PatientInfo", Model.PatientInform)
}
@if (ViewBag.Role == "doctor")
{
    @Html.Partial("_DoctorInfo", Model.DoctorInform)
    <div style="height:700px;width:900px;margin:0 auto">
        @Html.Raw(ViewBag.Scheduler.Render())
    </div>
}
@if (ViewBag.Role == "clinicAdmin")
{
    @Html.Partial("_ClinicAdminInfo", Model.ClinicAdmin.Clinic)
}

@if (Model.TwoFactorEnabled)
{
    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal mt-3", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <text>Двофакторна перевірка автентичності увімкнена:
            <input type="submit" value="Вимкнути" class="btn btn-primary" />
        </text>
    }
}
else
{
    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal mt-3", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <text>Двофакторна перевірка автентичності вимкнена:
            <input type="submit" value="Увімкнути" class="btn btn-primary" />
        </text>
    }
}

<div class="justify-content-around">
    @if (Model.PasswordHash != null)
    {
        @Html.ActionLink("Змінити пароль", "ChangePassword", "Manage", new { @class = "btn btn-primary" })
    }
    else
    {
        @Html.ActionLink("Додати пароль", "SetPassword", "Manage", new { @class = "btn btn-primary" })
    }
    @Html.ActionLink("Чати", "Index", "Chats", new {id ="" },  new { @class = "btn btn-primary" })
</div>

<script>
        function medicalAppointment(event_id){
        var url = "@Url.Action("ReceptionPreview", "Reception")" + "?recordId=" + event_id;
        window.location.href = url;
    }
</script>