@model eLifeWEB.Models.Record
@Styles.Render("~/Content/RegisterClinicAdmin.css")
@{
    ViewBag.Title = "ReceptionPreview";
}

<h2>Запис</h2>

<div>
    <hr />
    @if (ViewBag.Message == "None")
    {
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h4 class="text-center">Пустий запис</h4>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label>Початок прийому:</label>
            </div>
            <div class="col-md-6 pl-0">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.2rem"><i class="fa fa-clock-o fa-2x"></i></div>
                        <input class="form-control input_fix text-box single-line" type="text" value="@Html.DisplayFor(model => model.Date)" readonly="">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label>Кінець прийому:</label>
            </div>
            <div class="col-md-6 pl-0">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.2rem"><i class="fa fa-clock-o fa-2x"></i></div>
                        <input class="form-control input_fix text-box single-line" type="text" value="@Html.DisplayFor(model => model.EndDate)" readonly="">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                </div>
            </div>
        </div>
    }
    @if (ViewBag.Message == "Present")
    {


        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2 class="text-center">Активний запис:</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label>@Html.DisplayNameFor(model => model.Patient.Name):</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.2rem"><i class="fa fa-user fa-2x"></i></div>
                        <input class="form-control input_fix text-box single-line" type="text" value="@Html.DisplayFor(model => model.Patient.Name)" readonly="">
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label>@Html.DisplayNameFor(model => model.TypeOfService.Name):</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.2rem"><i class="fa fa-user-md fa-2x"></i></div>
                        <input class="form-control input_fix text-box single-line" type="text" value="@Html.DisplayFor(model => model.TypeOfService.Name)" readonly="">
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label>@Html.DisplayNameFor(model => model.Date):</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.2rem"><i class="fa fa-user fa-2x"></i></div>
                        <input class="form-control input_fix text-box single-line" type="text" value="@Html.DisplayFor(model => model.Date)" readonly="">
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label>@Html.DisplayNameFor(model => model.EndDate):</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.2rem"><i class="fa fa-user fa-2x"></i></div>
                        <input class="form-control input_fix text-box single-line" type="text" value="@Html.DisplayFor(model => model.EndDate)" readonly="">
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                @Html.ActionLink("Почати прийом", "StartReception", new { recordId = Model.Id }, new { @class = "btn btn-primary btn-block" })
            </div>
        </div>
    }

    @if (ViewBag.Message == "Past")
    {

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2 class="text-center">Минулий запис:</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label>@Html.DisplayNameFor(model => model.Patient.Name):</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.2rem"><i class="fa fa-user fa-2x"></i></div>
                        <input class="form-control input_fix text-box single-line" type="text" value="@Html.DisplayFor(model => model.Patient.Name)" readonly="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label>@Html.DisplayNameFor(model => model.TypeOfService.Name):</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.2rem"><i class="fa fa-user-md fa-2x"></i></div>
                        <input class="form-control input_fix text-box single-line" type="text" value="@Html.DisplayFor(model => model.TypeOfService.Name)" readonly="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label>@Html.DisplayNameFor(model => model.Date):</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.2rem"><i class="fa fa-user fa-2x"></i></div>
                        <input class="form-control input_fix text-box single-line" type="text" value="@Html.DisplayFor(model => model.Date)" readonly="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label>@Html.DisplayNameFor(model => model.EndDate):</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.2rem"><i class="fa fa-user fa-2x"></i></div>
                        <input class="form-control input_fix text-box single-line" type="text" value="@Html.DisplayFor(model => model.EndDate)" readonly="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label>@Html.DisplayNameFor(model => model.Complaints):</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.2rem"><i class="fa fa-font fa-2x"></i></div>
                        <input class="form-control input_fix text-box single-line" type="text" value="@Html.DisplayFor(model => model.Complaints)" readonly="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label>@Html.DisplayNameFor(model => model.ObjectiveData):</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.2rem"><i class="fa fa-font fa-2x"></i></div>
                        <input class="form-control input_fix text-box single-line" type="text" value="@Html.DisplayFor(model => model.ObjectiveData)" readonly="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label>@Html.DisplayNameFor(model => model.Diagnoses):</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.2rem"><i class="fa fa-font fa-2x"></i></div>
                        <input class="form-control input_fix text-box single-line" type="text" value="@Html.DisplayFor(model => model.Diagnoses)" readonly="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label>@Html.DisplayNameFor(model => model.CourseOfTheDisease):</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.2rem"><i class="fa fa-font fa-2x"></i></div>
                        <input class="form-control input_fix text-box single-line" type="text" value="@Html.DisplayFor(model => model.CourseOfTheDisease)" readonly="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label>@Html.DisplayNameFor(model => model.Appointment):</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.2rem"><i class="fa fa-font fa-2x"></i></div>
                        <input class="form-control input_fix text-box single-line" type="text" value="@Html.DisplayFor(model => model.Appointment)" readonly="">
                    </div>
                </div>
            </div>
        </div>
    }
    @if (ViewBag.Message == "Future")
    {
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label>@Html.DisplayNameFor(model => model.AttendingDoctor.Name):</label>
            </div>
            <div class="col-md-6 pl-0">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.2rem"><i class="fa fa-font fa-2x"></i></div>
                        <input class="form-control input_fix text-box single-line" type="text" value="@Html.DisplayFor(model => model.AttendingDoctor.Name)" readonly="">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label>@Html.DisplayNameFor(model => model.Patient.Name):</label>
            </div>
            <div class="col-md-6 pl-0">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.2rem"><i class="fa fa-user fa-2x"></i></div>
                        <input class="form-control input_fix text-box single-line" type="text" value="@Html.DisplayFor(model => model.Patient.Name)" readonly="">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label>@Html.DisplayNameFor(model => model.TypeOfService.DoctorId):</label>
            </div>
            <div class="col-md-6 pl-0">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.2rem"><i class="fa fa-clock-o fa-2x"></i></div>
                        <input class="form-control input_fix text-box single-line" type="text" value="@Html.DisplayFor(model => model.TypeOfService.DoctorId)" readonly="">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label>Початок прийому:</label>
            </div>
            <div class="col-md-6 pl-0">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.2rem"><i class="fa fa-clock-o fa-2x"></i></div>
                        <input class="form-control input_fix text-box single-line" type="text" value="@Html.DisplayFor(model => model.Date)" readonly="">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label>Кінець прийому:</label>
            </div>
            <div class="col-md-6 pl-0">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.2rem"><i class="fa fa-clock-o fa-2x"></i></div>
                        <input class="form-control input_fix text-box single-line" type="text" value="@Html.DisplayFor(model => model.EndDate)" readonly="">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                </div>
            </div>
        </div>
    }
</div>

